# Ignore Python environments
backend/.venv/
__pycache__/
*.pyc
*.toml
*.json
*.log

src/uploads/
/tests/
pr
# Ignore test files and databases
*.pdf
*.png
*.db
Steps.txt
Next.txt
test.py
# Ignore secrets
.env